body {
}

.gvContainer {
   
    position: center;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-align:center;
}

#lblTitle {
    font-size: 40px;
    color: black;
    font-weight: bold;
    text-align: center;
}